* text=auto eol=lf encoding=utf-8

# Python
*.pxd text
*.py text
*.py3 text
*.pyw text
*.pyx text

# Python Binary files
*.db binary
*.p binary
*.pkl binary
*.pyc binary
*.pyd binary
*.pyo binary

LICENSE text

*.txt text

*.yml text
*.yaml text
